# Redis tutorial

## Prerequisites

### Server status

Check the status of your Redis cluster : `!sudo service redis-server status`

If the Redis cluster is inactive, `!sudo service redis-server start` to start it.

In [ ]:
!sudo service redis-server status

### Documentation

You will find all documentation for :
* [Redis commands](https://redis.io/commands)
* [Redis python client](https://redis-py.readthedocs.io/en/latest/)

Though the tutorial asks you to use Redis commands, they all have an equivalent in the Python client library.

### Import libraries

In [7]:
import redis

In [20]:
r = redis.Redis(host='0.0.0.0', port='6379')

In [22]:
r.set('foo1', 'bar1')
value = r.get('foo1')
print(value)

b'bar1'

You can launch a terminal aside, connect to your server with a Redis client and check that the value is still present :

```bash
vagrant@nosql:~$ redis-cli
127.0.0.1:6379> get foo
"bar"
```

## I. Quick start

### Strings and numbers

**Q** : Store the string `hello world` in key `greetings` with a `SET` command. Then use a `GET` command to retrieve it.

**Q** : Create a `connections` key with value 0. Find the `INCR` command to increment its value, then display it. 

Try to increment the value for `greetings`.

### Lists

**Q** : Create a `colors` list with strings `red`, `black` and `blue`, using the `RPUSH` command.

**Q** : Display the second element of the list with `LINDEX`

**Q** : Display the full list with `LRANGE`

### Using sets

**Q** : Create a `nosql` set containing values `redis`, `mongodb` and `orientdb`, using the `SADD` command.

**Q** : Test if `mysql` is inside the set, using `SISMEMBER`

**Q** : Add `hbase` to the set with `SADD`, then display all elements of the set with `SMEMBERS`. Try to add `redis` again and see what happens.

### Using sorted sets

Sorted Sets are similar to Redis Sets with the unique feature of values stored in a set. The difference is, every member of a Sorted Set is associated with a score, that is used in order to take the sorted set ordered, from the smallest to the greatest score.

**Q** : Using `ZADD`, create a sorted set `top14` with the following entries :

```
score city
10 Agen 
33 Bordeaux 
32 Brive 
29 Castres 
38 Clermont 
24 Grenoble 
26 La Rochelle 
32 Montpellier 
14 Oyonnax 
20 Pau 
40 Racing 
22 Stade Fran√ßais 
36 Toulon 
36 Toulouse
```

**Q** : Fetch the score for `Toulon` with `ZSCORE`, and its ranking with `ZRANK`.

**Q** : `ZRANK` starts at 0 and scores are sorted from lowest to highest, so we should use the `ZREVRANK` for a true ranking of our cities.

**Q** : Find the commands to display :
* the 3 best teams
* teams with more than 35 points

### Using dictionaries

**Q** : Create a dictionary `user:1` with `HMSET` with properties `id (1), name (Jean), age (22)`. Display it with `HGETALL`

**Q** : Add a `city (Lyon)` property and rename the user from `Jean` to `Paul`.